In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('../data/1-8.화성시_성연령별_유동인구.csv')
df2 = pd.read_csv('../data/1-9.화성시_시간대별_유동인구.csv')
df3 = pd.read_csv('../data/1-10.화성시_요일별_유동인구.csv')

In [3]:
len(df1)

5269124

In [4]:
len(df2)

5168678

In [5]:
len(df3)

5648516

### 화성시 요일별 유동인구

In [6]:
df3

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
0,202001,0.02,0.02,0.02,0.02,0.02,0.02,0.00,126.554998,37.061336
1,202001,6.67,4.82,9.01,5.49,6.89,21.84,18.52,126.616734,37.169078
2,202001,6.18,4.40,8.44,5.01,6.39,21.19,18.05,126.616729,37.169528
3,202001,7.03,5.26,9.66,5.84,7.80,24.72,20.29,126.616724,37.169979
4,202001,7.73,5.79,10.58,6.43,8.56,26.96,22.13,126.616718,37.170430
...,...,...,...,...,...,...,...,...,...,...
5648511,202212,354.77,350.11,357.52,354.63,371.21,353.04,338.98,127.111036,37.203731
5648512,202212,85.15,84.49,85.78,84.95,88.86,10.52,9.99,127.111034,37.204182
5648513,202212,26.84,26.54,27.05,26.91,28.08,3.11,3.00,127.111031,37.204633
5648514,202212,63.50,63.87,69.17,64.05,72.03,17.16,16.37,127.111029,37.205083
5648515,202212,88.93,89.07,91.73,90.20,96.22,33.36,29.63,127.111027,37.205534

In [7]:
df3.groupby(['lon', 'lat']).head(1)

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
0,202001,0.02,0.02,0.02,0.02,0.02,0.02,0.00,126.554998,37.061336
1,202001,6.67,4.82,9.01,5.49,6.89,21.84,18.52,126.616734,37.169078
2,202001,6.18,4.40,8.44,5.01,6.39,21.19,18.05,126.616729,37.169528
3,202001,7.03,5.26,9.66,5.84,7.80,24.72,20.29,126.616724,37.169979
4,202001,7.73,5.79,10.58,6.43,8.56,26.96,22.13,126.616718,37.170430
...,...,...,...,...,...,...,...,...,...,...
5643767,202212,0.11,0.11,0.12,0.11,0.12,0.04,0.04,127.116623,37.213214
5643869,202212,0.32,0.32,0.32,0.32,0.34,0.02,0.02,127.119438,37.213674
5644257,202212,0.79,0.42,0.57,0.72,0.74,1.02,0.87,127.130794,37.196132
5644515,202212,1.70,1.68,1.59,1.92,1.87,0.00,0.00,127.101588,37.178911
5644878,202212,11.74,11.71,11.07,13.35,12.96,8.51,6.22,127.099900,37.178455

In [8]:
df3.groupby(['STD_YM']).head(1)

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
0,202001,0.02,0.02,0.02,0.02,0.02,0.02,0.00,126.554998,37.061336
101099,202002,0.02,0.02,0.02,0.02,0.04,0.02,0.02,126.554998,37.061336
205297,202003,0.04,0.04,0.04,0.04,0.04,0.04,0.02,126.554998,37.061336
313456,202004,0.04,0.05,0.04,0.06,0.05,0.04,0.03,126.554998,37.061336
421757,202005,0.04,0.02,0.04,0.04,0.04,0.04,0.02,126.554998,37.061336
535840,202006,0.04,0.04,0.02,0.02,0.04,0.04,0.02,126.554998,37.061336
651975,202007,0.02,0.02,0.02,0.02,0.02,0.02,0.02,126.554998,37.061336
774621,202008,0.02,0.02,0.02,0.02,0.02,0.02,0.02,126.554998,37.061336
896855,202009,0.02,0.02,0.02,0.02,0.02,0.02,0.02,126.554998,37.061336
1027990,202010,0.02,0.02,0.02,0.02,0.02,0.02,0.00,126.554998,37.061336
1163293,202011,0.02,0.02,0.02,0.02,0.02,0.02,0.00,126.554998,37.061336
1303069,202012,0.02,0.02,0.02,0.02,0.00,0.00,0.00,126.554998,37.061336
1446281,202101,66.18,69.47,64.68,69.18,71.37,71.69,55.76,126.971339,37.198232
1595393,202102,67.07,68.32,66.59,64.91,76.39,80.82,65.33,126.971339,37.198232
1747309,202103,53.91,55.80,57.09,55.83,64.01,68.87,44.92,126.971339,37.198232
1902989,202104,47.92,48.01,50.52,50.25,53.65,56.81,54.58,126.971339,37.198232
2062669,202105,49.25,57.51,63.39,52.96,57.81,68.12,60.53,126.971339,37.198232
2226436,202106,49.51,47.02,46.35,46.56,50.64,57.99,53.65,126.971339,37.198232
2393339,202107,41.61,42.08,42.95,43.50,47.20,51.07,42.67,126.971339,37.198232
2562786,202108,39.47,39.92,39.77,41.20,44.60,47.29,42.93,126.971339,37.198232
2735006,202109,41.53,43.79,42.52,43.24,46.35,51.01,45.54,126.971339,37.198232
2909838,202110,40.26,40.79,42.29,41.30,44.43,52.02,46.83,126.971339,37.198232
3088354,202111,34.56,34.66,36.22,36.80,39.36,43.14,39.57,126.971339,37.198232
3269476,202112,29.31,30.62,29.35,30.16,33.37,31.25,26.98,126.971339,37.198232
3453025,202201,35.46,36.18,36.39,37.44,39.84,38.90,34.49,126.971339,37.198232
3637736,202202,34.72,35.02,34.54,34.42,37.59,38.34,33.60,126.971339,37.198232
3824237,202203,36.31,38.54,37.94,37.84,36.29,38.81,35.56,126.971339,37.198232
4007197,202204,72.05,73.79,73.62,75.15,80.08,101.27,85.24,126.971339,37.198232
4193037,202205,75.29,77.64,80.24,86.54,81.14,104.27,88.82,126.971339,37.198232
4379550,202206,75.84,73.05,77.17,73.56,82.45,100.28,81.05,126.971339,37.198232
4565806,202207,57.25,55.15,58.26,55.53,62.24,75.70,61.18,126.971339,37.198232
4739730,202208,55.34,53.31,56.32,53.68,60.17,73.18,59.14,126.971339,37.198232
4913225,202209,68.56,66.05,69.77,66.50,74.54,90.66,73.27,126.971339,37.198232
5086667,202210,63.20,60.88,64.31,61.30,68.71,83.57,67.54,126.971339,37.198232
5259542,202211,57.16,60.67,58.87,59.72,63.69,76.23,61.57,126.971339,37.198232
5453472,202212,29.90,30.88,29.97,32.24,32.77,32.01,27.35,126.971339,37.198232

In [9]:
# 평균을 계산할 열 리스트
columns_to_average = ['mon_pop', 'tue_pop', 'wed_pop', 'thu_pop', 'fri_pop', 'sat_pop', 'sun_pop']

# lon과 lat으로 그룹화하여 각 열의 평균 계산
df3_means = df3.groupby(['lon', 'lat'])[columns_to_average].mean().reset_index()

# 결과 출력
df3_means

,lon,lat,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop
0,126.493722,37.144661,0.519091,0.467273,0.476364,0.490909,0.583636,0.040909,0.039091
1,126.496602,37.139728,0.280000,0.230000,0.190000,0.250000,0.280000,0.040000,0.020000
2,126.498812,37.142901,0.080000,0.075000,0.080000,0.110000,0.085000,0.010000,0.010000
3,126.500957,37.108216,0.165000,0.170000,0.230000,0.435000,0.240000,0.390000,0.250000
4,126.506160,37.140710,0.070000,0.075000,0.080000,0.110000,0.085000,0.010000,0.010000
...,...,...,...,...,...,...,...,...,...
204100,127.160678,37.190813,2.110000,2.066190,2.077619,2.053333,2.186667,2.392857,2.200476
204101,127.160680,37.190363,1.687368,1.652632,1.642632,1.627895,1.742632,1.934737,1.774211
204102,127.160682,37.189912,0.890000,0.870000,0.911000,0.879500,0.941000,1.051000,0.970000
204103,127.161239,37.191266,31.589286,29.029643,30.870714,29.764286,29.349286,36.338214,37.428929
204104,127.161241,37.190815,47.210645,42.891935,46.635161,45.320000,45.474516,52.429677,51.338387

In [10]:
len(df3_means['lon'].unique())

204105

In [11]:
len(df3_means['lat'].unique())

204105

### 2020년 화성시 요일별 유동인구

In [12]:
df3

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
0,202001,0.02,0.02,0.02,0.02,0.02,0.02,0.00,126.554998,37.061336
1,202001,6.67,4.82,9.01,5.49,6.89,21.84,18.52,126.616734,37.169078
2,202001,6.18,4.40,8.44,5.01,6.39,21.19,18.05,126.616729,37.169528
3,202001,7.03,5.26,9.66,5.84,7.80,24.72,20.29,126.616724,37.169979
4,202001,7.73,5.79,10.58,6.43,8.56,26.96,22.13,126.616718,37.170430
...,...,...,...,...,...,...,...,...,...,...
5648511,202212,354.77,350.11,357.52,354.63,371.21,353.04,338.98,127.111036,37.203731
5648512,202212,85.15,84.49,85.78,84.95,88.86,10.52,9.99,127.111034,37.204182
5648513,202212,26.84,26.54,27.05,26.91,28.08,3.11,3.00,127.111031,37.204633
5648514,202212,63.50,63.87,69.17,64.05,72.03,17.16,16.37,127.111029,37.205083
5648515,202212,88.93,89.07,91.73,90.20,96.22,33.36,29.63,127.111027,37.205534

In [13]:
# STD_YM이 202001부터 202012 사이의 데이터만 추출
df3_2020 = df3[(df3['STD_YM'] >= 202001) & (df3['STD_YM'] <= 202012)]

# 결과 확인
df3_2020

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
0,202001,0.02,0.02,0.02,0.02,0.02,0.02,0.00,126.554998,37.061336
1,202001,6.67,4.82,9.01,5.49,6.89,21.84,18.52,126.616734,37.169078
2,202001,6.18,4.40,8.44,5.01,6.39,21.19,18.05,126.616729,37.169528
3,202001,7.03,5.26,9.66,5.84,7.80,24.72,20.29,126.616724,37.169979
4,202001,7.73,5.79,10.58,6.43,8.56,26.96,22.13,126.616718,37.170430
...,...,...,...,...,...,...,...,...,...,...
1446276,202012,3.05,3.23,2.67,2.86,3.36,3.36,2.90,127.160108,37.192164
1446277,202012,1.55,0.95,1.09,1.24,1.45,2.31,1.38,127.160676,37.191264
1446278,202012,4.22,3.74,3.43,3.73,4.38,5.26,3.90,127.160674,37.191715
1446279,202012,2.08,2.21,1.82,1.96,2.31,2.38,2.07,127.161241,37.190815
1446280,202012,1.20,1.27,1.17,1.17,1.15,0.85,0.53,127.161239,37.191266

In [14]:
# STD_YM이 202001부터 202012 사이의 데이터만 추출
df3_2021 = df3[(df3['STD_YM'] >= 202101) & (df3['STD_YM'] <= 202112)]

# 결과 확인
df3_2021

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
1446281,202101,66.18,69.47,64.68,69.18,71.37,71.69,55.76,126.971339,37.198232
1446282,202101,89.67,96.91,99.10,94.44,97.10,97.31,75.75,126.971335,37.198683
1446283,202101,90.66,94.67,88.40,92.86,95.87,98.43,79.25,126.971902,37.198235
1446284,202101,23.86,25.04,25.20,24.35,25.06,27.81,25.59,126.971896,37.199136
1446285,202101,62.60,65.71,62.40,64.84,65.33,54.99,44.73,126.972465,37.198237
...,...,...,...,...,...,...,...,...,...,...
3453020,202112,171.34,173.74,215.55,222.65,268.67,252.49,238.23,127.111036,37.203731
3453021,202112,97.61,98.78,173.69,157.76,162.47,26.91,21.07,127.111034,37.204182
3453022,202112,21.93,22.11,41.92,36.98,32.99,6.76,5.17,127.111031,37.204633
3453023,202112,48.28,48.28,78.10,71.13,67.77,13.23,10.40,127.111029,37.205083
3453024,202112,47.15,47.16,53.86,55.48,69.04,23.93,20.84,127.111027,37.205534

In [15]:
# STD_YM이 202001부터 202012 사이의 데이터만 추출
df3_2022 = df3[(df3['STD_YM'] >= 202201) & (df3['STD_YM'] <= 202212)]

# 결과 확인
df3_2022

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
3453025,202201,35.46,36.18,36.39,37.44,39.84,38.90,34.49,126.971339,37.198232
3453026,202201,54.18,54.72,55.41,56.89,62.02,61.86,52.53,126.971335,37.198683
3453027,202201,48.15,49.39,49.39,50.33,52.23,52.71,47.24,126.971902,37.198235
3453028,202201,5.93,5.65,5.76,6.02,5.86,7.40,6.92,126.971899,37.198686
3453029,202201,15.68,14.99,15.13,15.80,15.89,18.79,17.76,126.971896,37.199136
...,...,...,...,...,...,...,...,...,...,...
5648511,202212,354.77,350.11,357.52,354.63,371.21,353.04,338.98,127.111036,37.203731
5648512,202212,85.15,84.49,85.78,84.95,88.86,10.52,9.99,127.111034,37.204182
5648513,202212,26.84,26.54,27.05,26.91,28.08,3.11,3.00,127.111031,37.204633
5648514,202212,63.50,63.87,69.17,64.05,72.03,17.16,16.37,127.111029,37.205083
5648515,202212,88.93,89.07,91.73,90.20,96.22,33.36,29.63,127.111027,37.205534

In [16]:
df3_2020.to_csv('../data/화성시 요일별 유동인구_2020.csv', index=False)

In [17]:
df3_2021.to_csv('../data/화성시 요일별 유동인구_2021.csv', index=False)

In [18]:
df3_2022.to_csv('../data/화성시 요일별 유동인구_2022.csv', index=False)