In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
from shapely.geometry import Point

import folium
from folium.plugins import MarkerCluster, MiniMap

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [4]:
df2 = pd.read_csv('../data/2021년 유동인구.csv')
df2

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,202101,0.76,2.83,7.73,12.48,13.07,9.69,1.06,1.64,2.81,...,4.87,4.82,4.89,4.79,4.70,3.00,2.24,1.73,1.15,0.79
1,202101,0.97,3.88,10.77,17.36,18.15,13.38,1.41,2.31,3.92,...,6.80,7.03,7.22,7.36,7.01,4.29,2.90,2.28,1.45,1.04
2,202101,1.25,3.92,10.29,16.21,16.53,13.81,1.38,2.54,3.62,...,6.43,6.43,6.55,6.20,5.92,4.03,3.09,2.51,1.75,1.47
3,202101,0.37,0.79,2.26,3.96,4.57,4.11,0.53,0.58,1.04,...,2.03,1.98,1.89,1.78,1.82,1.13,0.81,0.65,0.44,0.39
4,202101,0.76,2.74,7.19,11.05,10.90,8.55,0.85,1.55,2.49,...,4.22,4.27,4.40,4.24,4.08,2.70,2.03,1.62,1.11,0.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826475,202112,17.27,8.41,25.75,32.19,13.77,9.87,19.28,10.17,29.56,...,11.18,11.88,13.08,14.13,13.88,14.76,13.23,12.08,10.45,9.18
1826476,202112,9.66,4.04,11.64,15.38,6.64,4.91,10.58,4.86,14.59,...,5.32,5.62,6.16,6.69,6.85,7.12,6.57,6.20,5.56,4.84
1826477,202112,2.35,0.88,2.58,3.48,1.43,1.06,2.51,1.06,3.28,...,1.20,1.25,1.39,1.48,1.54,1.59,1.45,1.38,1.25,1.02
1826478,202112,4.82,1.89,4.82,6.52,2.75,2.21,5.16,2.38,6.57,...,2.53,2.70,3.04,3.34,3.37,3.53,3.13,2.83,2.42,1.94
1826479,202112,3.78,2.45,5.62,6.02,2.95,2.37,4.27,2.90,5.65,...,2.70,2.95,3.28,3.58,3.60,3.55,2.90,2.24,1.70,1.22

In [5]:
df3 = pd.read_csv('../data/2022년 유동인구.csv')
df3

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,202201,0.67,1.70,3.88,6.46,6.69,5.24,0.71,1.06,1.59,...,2.75,2.65,2.54,2.63,2.42,1.75,1.34,1.13,0.72,0.55
1,202201,0.95,2.54,6.02,10.12,10.68,8.09,0.99,1.55,2.51,...,4.27,4.24,4.17,4.40,3.80,2.31,1.66,1.41,0.92,0.69
2,202201,0.94,2.12,4.64,8.21,8.48,7.72,1.02,1.47,1.78,...,3.53,3.41,3.18,3.30,3.07,2.26,1.82,1.54,1.06,0.94
3,202201,0.09,0.37,0.65,0.94,0.92,0.85,0.11,0.28,0.26,...,0.62,0.58,0.48,0.42,0.39,0.26,0.21,0.14,0.11,0.09
4,202201,0.41,0.65,1.32,2.22,2.70,2.63,0.48,0.49,0.69,...,1.34,1.25,1.13,1.08,1.01,0.74,0.57,0.48,0.34,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968108,202212,33.82,11.69,32.08,49.94,24.28,16.35,36.76,12.73,39.25,...,18.06,19.35,21.14,23.38,24.28,23.56,21.14,19.83,18.21,13.17
1968109,202212,7.06,2.07,5.19,8.48,4.04,2.86,7.80,2.22,6.66,...,3.23,3.50,3.81,4.15,4.15,4.20,3.74,3.50,3.27,2.42
1968110,202212,2.00,0.67,1.91,2.75,1.31,0.94,2.12,0.71,2.26,...,0.92,0.99,1.04,1.15,1.18,1.18,1.11,1.04,0.97,0.90
1968111,202212,7.72,5.42,3.55,5.19,4.70,1.94,5.14,1.66,4.43,...,2.54,2.74,2.95,3.53,3.80,3.39,2.91,2.86,2.33,1.52
1968112,202212,8.79,2.81,6.34,9.04,4.43,3.28,9.66,3.14,7.54,...,4.13,4.56,4.91,5.39,5.42,5.33,4.68,4.10,3.50,2.28

### 2021, 2022 합친 유동인구

In [6]:
df_pop_all = pd.concat([df2,df3], axis=0)
df_pop_all # 2021 + 2022

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,202101,0.76,2.83,7.73,12.48,13.07,9.69,1.06,1.64,2.81,...,4.87,4.82,4.89,4.79,4.70,3.00,2.24,1.73,1.15,0.79
1,202101,0.97,3.88,10.77,17.36,18.15,13.38,1.41,2.31,3.92,...,6.80,7.03,7.22,7.36,7.01,4.29,2.90,2.28,1.45,1.04
2,202101,1.25,3.92,10.29,16.21,16.53,13.81,1.38,2.54,3.62,...,6.43,6.43,6.55,6.20,5.92,4.03,3.09,2.51,1.75,1.47
3,202101,0.37,0.79,2.26,3.96,4.57,4.11,0.53,0.58,1.04,...,2.03,1.98,1.89,1.78,1.82,1.13,0.81,0.65,0.44,0.39
4,202101,0.76,2.74,7.19,11.05,10.90,8.55,0.85,1.55,2.49,...,4.22,4.27,4.40,4.24,4.08,2.70,2.03,1.62,1.11,0.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968108,202212,33.82,11.69,32.08,49.94,24.28,16.35,36.76,12.73,39.25,...,18.06,19.35,21.14,23.38,24.28,23.56,21.14,19.83,18.21,13.17
1968109,202212,7.06,2.07,5.19,8.48,4.04,2.86,7.80,2.22,6.66,...,3.23,3.50,3.81,4.15,4.15,4.20,3.74,3.50,3.27,2.42
1968110,202212,2.00,0.67,1.91,2.75,1.31,0.94,2.12,0.71,2.26,...,0.92,0.99,1.04,1.15,1.18,1.18,1.11,1.04,0.97,0.90
1968111,202212,7.72,5.42,3.55,5.19,4.70,1.94,5.14,1.66,4.43,...,2.54,2.74,2.95,3.53,3.80,3.39,2.91,2.86,2.33,1.52
1968112,202212,8.79,2.81,6.34,9.04,4.43,3.28,9.66,3.14,7.54,...,4.13,4.56,4.91,5.39,5.42,5.33,4.68,4.10,3.50,2.28

### 2022 유동인구

In [7]:
df_pop_2022 = df3.copy()
df_pop_2022 # 2022

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,202201,0.67,1.70,3.88,6.46,6.69,5.24,0.71,1.06,1.59,...,2.75,2.65,2.54,2.63,2.42,1.75,1.34,1.13,0.72,0.55
1,202201,0.95,2.54,6.02,10.12,10.68,8.09,0.99,1.55,2.51,...,4.27,4.24,4.17,4.40,3.80,2.31,1.66,1.41,0.92,0.69
2,202201,0.94,2.12,4.64,8.21,8.48,7.72,1.02,1.47,1.78,...,3.53,3.41,3.18,3.30,3.07,2.26,1.82,1.54,1.06,0.94
3,202201,0.09,0.37,0.65,0.94,0.92,0.85,0.11,0.28,0.26,...,0.62,0.58,0.48,0.42,0.39,0.26,0.21,0.14,0.11,0.09
4,202201,0.41,0.65,1.32,2.22,2.70,2.63,0.48,0.49,0.69,...,1.34,1.25,1.13,1.08,1.01,0.74,0.57,0.48,0.34,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968108,202212,33.82,11.69,32.08,49.94,24.28,16.35,36.76,12.73,39.25,...,18.06,19.35,21.14,23.38,24.28,23.56,21.14,19.83,18.21,13.17
1968109,202212,7.06,2.07,5.19,8.48,4.04,2.86,7.80,2.22,6.66,...,3.23,3.50,3.81,4.15,4.15,4.20,3.74,3.50,3.27,2.42
1968110,202212,2.00,0.67,1.91,2.75,1.31,0.94,2.12,0.71,2.26,...,0.92,0.99,1.04,1.15,1.18,1.18,1.11,1.04,0.97,0.90
1968111,202212,7.72,5.42,3.55,5.19,4.70,1.94,5.14,1.66,4.43,...,2.54,2.74,2.95,3.53,3.80,3.39,2.91,2.86,2.33,1.52
1968112,202212,8.79,2.81,6.34,9.04,4.43,3.28,9.66,3.14,7.54,...,4.13,4.56,4.91,5.39,5.42,5.33,4.68,4.10,3.50,2.28

In [8]:
# 열 이름 필터링 (성연령별)
filtered_columns = [col for col in df_pop_all.columns if col.startswith("m_") or col.startswith("w_")]

# 선택한 열과 다른 주요 열 포함
selected_columns = ["STD_YM", "lon", "lat"] + filtered_columns
df_pop_all = df_pop_all[selected_columns]
df_pop_all

,STD_YM,lon,lat,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop
0,202101,126.971339,37.198232,0.76,2.83,7.73,12.48,13.07,9.69,1.06,1.64,2.81,4.93,5.35,4.50
1,202101,126.971335,37.198683,0.97,3.88,10.77,17.36,18.15,13.38,1.41,2.31,3.92,6.89,7.45,6.13
2,202101,126.971902,37.198235,1.25,3.92,10.29,16.21,16.53,13.81,1.38,2.54,3.62,7.06,7.13,7.63
3,202101,126.971896,37.199136,0.37,0.79,2.26,3.96,4.57,4.11,0.53,0.58,1.04,2.01,2.56,2.51
4,202101,126.972465,37.198237,0.76,2.74,7.19,11.05,10.90,8.55,0.85,1.55,2.49,4.82,4.33,4.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968108,202212,127.111036,37.203731,33.82,11.69,32.08,49.94,24.28,16.35,36.76,12.73,39.25,59.17,21.30,17.45
1968109,202212,127.111034,37.204182,7.06,2.07,5.19,8.48,4.04,2.86,7.80,2.22,6.66,10.86,3.76,3.00
1968110,202212,127.111031,37.204633,2.00,0.67,1.91,2.75,1.31,0.94,2.12,0.71,2.26,3.21,1.17,1.06
1968111,202212,127.111029,37.205083,7.72,5.42,3.55,5.19,4.70,1.94,5.14,1.66,4.43,6.45,4.08,1.94
1968112,202212,127.111027,37.205534,8.79,2.81,6.34,9.04,4.43,3.28,9.66,3.14,7.54,11.20,4.33,3.51

In [9]:
# 열 이름 필터링 (성연령별)
filtered_columns = [col for col in df_pop_2022.columns if col.startswith("m_") or col.startswith("w_")]

# 선택한 열과 다른 주요 열 포함
selected_columns = ["STD_YM", "lon", "lat"] + filtered_columns
df_pop_2022 = df_pop_2022[selected_columns]
df_pop_2022

,STD_YM,lon,lat,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop
0,202201,126.971339,37.198232,0.67,1.70,3.88,6.46,6.69,5.24,0.71,1.06,1.59,3.13,3.00,2.75
1,202201,126.971335,37.198683,0.95,2.54,6.02,10.12,10.68,8.09,0.99,1.55,2.51,4.68,4.59,3.99
2,202201,126.971902,37.198235,0.94,2.12,4.64,8.21,8.48,7.72,1.02,1.47,1.78,4.50,4.34,4.61
3,202201,126.971899,37.198686,0.09,0.37,0.65,0.94,0.92,0.85,0.11,0.28,0.26,0.53,0.64,0.64
4,202201,126.971896,37.199136,0.41,0.65,1.32,2.22,2.70,2.63,0.48,0.49,0.69,1.43,1.52,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968108,202212,127.111036,37.203731,33.82,11.69,32.08,49.94,24.28,16.35,36.76,12.73,39.25,59.17,21.30,17.45
1968109,202212,127.111034,37.204182,7.06,2.07,5.19,8.48,4.04,2.86,7.80,2.22,6.66,10.86,3.76,3.00
1968110,202212,127.111031,37.204633,2.00,0.67,1.91,2.75,1.31,0.94,2.12,0.71,2.26,3.21,1.17,1.06
1968111,202212,127.111029,37.205083,7.72,5.42,3.55,5.19,4.70,1.94,5.14,1.66,4.43,6.45,4.08,1.94
1968112,202212,127.111027,37.205534,8.79,2.81,6.34,9.04,4.43,3.28,9.66,3.14,7.54,11.20,4.33,3.51

#### 전체 유동인구(2021+2022)

In [10]:
# STD_YM, lat, lon을 제외한 열들끼리 각 행 합 계산 -> 전체 유동인구 수
df_pop_all['pop_sum'] = df_pop_all.iloc[:, 3:].sum(axis=1)

# 결과 출력 (lat, lon, pop_avg 열만 선택)
df_pop_all_1 = df_pop_all[['lat', 'lon', 'pop_sum']]
df_pop_all_1

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               lat         lon  pop_sum
0        37.198232  126.971339    66.85
1        37.198683  126.971335    92.62
2        37.198235  126.971902    91.37
3        37.199136  126.971896    25.29
4        37.198237  126.972465    59.63
...            ...         ...      ...
1968108  37.203731  127.111036   354.82
1968109  37.204182  127.111034    64.00
1968110  37.204633  127.111031    20.11
1968111  37.205083  127.111029    52.22
1968112  37.205534  127.111027    74.07

[3794593 rows x 3 columns]

In [11]:
df_pop_all_2 = df_pop_all_1.groupby(['lat', 'lon']).mean().reset_index()
df_pop_all_2

              lat         lon   pop_sum
0       37.000817  126.724329   1.49375
1       37.003201  126.744535   0.35500
2       37.004027  126.732726   0.86500
3       37.004030  126.733288   0.85500
4       37.004084  126.741717   0.68500
...           ...         ...       ...
187567  37.305562  126.668739   6.85000
187568  37.305574  126.670431  10.40800
187569  37.305578  126.670996  10.22600
187570  37.306464  126.668729   1.73500
187571  37.308195  126.658554   0.16500

[187572 rows x 3 columns]

In [13]:
df_pop_all_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187572 entries, 0 to 187571
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   lat      187572 non-null  float64
 1   lon      187572 non-null  float64
 2   pop_sum  187572 non-null  float64
dtypes: float64(3)
memory usage: 4.3 MB

In [14]:
import geopandas as gpd
df_map = gpd.read_file('../data/1-14.화성시_격자.geojson')

In [15]:
gpd.GeoDataFrame(df_pop_all_2, geometry=gpd.GeoSeries(df_pop_all_2.apply(lambda row: Point(row['lon'], row['lat']), axis=1)), crs="EPSG:4326")

              lat         lon   pop_sum                    geometry
0       37.000817  126.724329   1.49375  POINT (126.72433 37.00082)
1       37.003201  126.744535   0.35500  POINT (126.74454 37.00320)
2       37.004027  126.732726   0.86500  POINT (126.73273 37.00403)
3       37.004030  126.733288   0.85500  POINT (126.73329 37.00403)
4       37.004084  126.741717   0.68500  POINT (126.74172 37.00408)
...           ...         ...       ...                         ...
187567  37.305562  126.668739   6.85000  POINT (126.66874 37.30556)
187568  37.305574  126.670431  10.40800  POINT (126.67043 37.30557)
187569  37.305578  126.670996  10.22600  POINT (126.67100 37.30558)
187570  37.306464  126.668729   1.73500  POINT (126.66873 37.30646)
187571  37.308195  126.658554   0.16500  POINT (126.65855 37.30819)

[187572 rows x 4 columns]

In [16]:
df_pop_all_2

              lat         lon   pop_sum                    geometry
0       37.000817  126.724329   1.49375  POINT (126.72433 37.00082)
1       37.003201  126.744535   0.35500  POINT (126.74454 37.00320)
2       37.004027  126.732726   0.86500  POINT (126.73273 37.00403)
3       37.004030  126.733288   0.85500  POINT (126.73329 37.00403)
4       37.004084  126.741717   0.68500  POINT (126.74172 37.00408)
...           ...         ...       ...                         ...
187567  37.305562  126.668739   6.85000  POINT (126.66874 37.30556)
187568  37.305574  126.670431  10.40800  POINT (126.67043 37.30557)
187569  37.305578  126.670996  10.22600  POINT (126.67100 37.30558)
187570  37.306464  126.668729   1.73500  POINT (126.66873 37.30646)
187571  37.308195  126.658554   0.16500  POINT (126.65855 37.30819)

[187572 rows x 4 columns]

In [25]:
#df_pop_all_2.to_csv('김현정_전체_유동인구_point.csv', index=False)

In [17]:
df_map

            gid                                           geometry
0      다사385011  POLYGON ((126.80784 37.10654, 126.80783 37.107...
1      다사312110  POLYGON ((126.72478 37.19526, 126.72477 37.196...
2      다사473033  POLYGON ((126.90672 37.12690, 126.90671 37.127...
3      다사602117  POLYGON ((127.05149 37.20326, 127.05149 37.204...
4      다사476205  POLYGON ((126.90889 37.28195, 126.90888 37.282...
...         ...                                                ...
71379  다사513058  POLYGON ((126.95159 37.14965, 126.95158 37.150...
71380  다사553001  POLYGON ((126.99697 37.09848, 126.99696 37.099...
71381  다사517088  POLYGON ((126.95590 37.17672, 126.95589 37.177...
71382  다사456150  POLYGON ((126.88673 37.23227, 126.88673 37.233...
71383  다바423997  POLYGON ((126.85071 37.09416, 126.85071 37.095...

[71384 rows x 2 columns]

In [19]:
# 포인트 데이터 준비
# geometry 열이 이미 준비되어 있으므로 바로 GeoDataFrame으로 변환
gdf_points = gpd.GeoDataFrame(df_pop_all_2, geometry=df_pop_all_2['geometry'], crs="EPSG:4326")

# 격자 데이터 (df_map)도 GeoDataFrame 형식이어야 함
# 격자 데이터의 'geometry' 열이 다각형(Polygon) 형태여야 합니다.
gdf_grid = gpd.GeoDataFrame(df_map, geometry=df_map['geometry'], crs="EPSG:4326")

In [22]:
# 공간 조인 실행: 포인트가 격자 내에 포함되는 경우 조인
result_all = gpd.sjoin(gdf_points, gdf_grid, how="inner", op="within")
result_all

,lat,lon,pop_sum,geometry,index_right,gid
12,37.013444,126.797827,21.183750,POINT (126.79783 37.01344),69697,다바375907
13,37.013539,126.814125,29.124167,POINT (126.81413 37.01354),62941,다바389907
14,37.013542,126.814687,24.365417,POINT (126.81469 37.01354),69020,다바390907
15,37.013894,126.797823,6.546250,POINT (126.79782 37.01389),22457,다바375908
16,37.013898,126.798385,5.162500,POINT (126.79839 37.01390),22457,다바375908
...,...,...,...,...,...,...
187487,37.292422,126.658730,0.456667,POINT (126.65873 37.29242),40046,다사254218
187488,37.292430,126.659858,0.640000,POINT (126.65986 37.29243),25260,다사255218
187489,37.292442,126.661550,6.150417,POINT (126.66155 37.29244),63993,다사256218
187498,37.292804,126.649136,1.908000,POINT (126.64914 37.29280),31248,다사245218
187509,37.298200,126.647383,9.893750,POINT (126.64738 37.29820),69965,다사244224

In [23]:
result_all.isna().sum()

lat            0
lon            0
pop_sum        0
geometry       0
index_right    0
gid            0
dtype: int64

In [24]:
#result_all.to_csv('2021년, 2022년 유동인구와 격자 매핑.csv', index=False)

#### 2022년

In [29]:
# STD_YM, lat, lon을 제외한 열들끼리 각 행 합 계산 -> 전체 유동인구 수
df_pop_2022['pop_sum'] = df_pop_2022.iloc[:, 3:].sum(axis=1)

# 결과 출력 (lat, lon, pop_avg 열만 선택)
df_pop_2022_1 = df_pop_2022[['lat', 'lon', 'pop_sum']]
df_pop_2022_1

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               lat         lon  pop_sum
0        37.198232  126.971339    36.88
1        37.198683  126.971335    56.71
2        37.198235  126.971902    49.83
3        37.198686  126.971899     6.28
4        37.199136  126.971896    16.39
...            ...         ...      ...
1968108  37.203731  127.111036   354.82
1968109  37.204182  127.111034    64.00
1968110  37.204633  127.111031    20.11
1968111  37.205083  127.111029    52.22
1968112  37.205534  127.111027    74.07

[1968113 rows x 3 columns]

In [30]:
df_pop_2022_2 = df_pop_2022_1.groupby(['lat', 'lon']).mean().reset_index()
df_pop_2022_2

              lat         lon  pop_sum
0       37.000817  126.724329  1.49375
1       37.003201  126.744535  0.35500
2       37.004027  126.732726  0.86500
3       37.004030  126.733288  0.85500
4       37.004084  126.741717  0.68500
...           ...         ...      ...
181633  37.305555  126.667611  2.44000
181634  37.305559  126.668175  2.38500
181635  37.305562  126.668739  2.36000
181636  37.306464  126.668729  1.73500
181637  37.308195  126.658554  0.16500

[181638 rows x 3 columns]

In [31]:
df_pop_2022_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181638 entries, 0 to 181637
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   lat      181638 non-null  float64
 1   lon      181638 non-null  float64
 2   pop_sum  181638 non-null  float64
dtypes: float64(3)
memory usage: 4.2 MB

In [32]:
gpd.GeoDataFrame(df_pop_2022_2, geometry=gpd.GeoSeries(df_pop_2022_2.apply(lambda row: Point(row['lon'], row['lat']), axis=1)), crs="EPSG:4326")

              lat         lon  pop_sum                    geometry
0       37.000817  126.724329  1.49375  POINT (126.72433 37.00082)
1       37.003201  126.744535  0.35500  POINT (126.74454 37.00320)
2       37.004027  126.732726  0.86500  POINT (126.73273 37.00403)
3       37.004030  126.733288  0.85500  POINT (126.73329 37.00403)
4       37.004084  126.741717  0.68500  POINT (126.74172 37.00408)
...           ...         ...      ...                         ...
181633  37.305555  126.667611  2.44000  POINT (126.66761 37.30555)
181634  37.305559  126.668175  2.38500  POINT (126.66817 37.30556)
181635  37.305562  126.668739  2.36000  POINT (126.66874 37.30556)
181636  37.306464  126.668729  1.73500  POINT (126.66873 37.30646)
181637  37.308195  126.658554  0.16500  POINT (126.65855 37.30819)

[181638 rows x 4 columns]

In [33]:
# 포인트 데이터 준비
# geometry 열이 이미 준비되어 있으므로 바로 GeoDataFrame으로 변환
gdf_points = gpd.GeoDataFrame(df_pop_2022_2, geometry=df_pop_2022_2['geometry'], crs="EPSG:4326")

# 격자 데이터 (df_map)도 GeoDataFrame 형식이어야 함
# 격자 데이터의 'geometry' 열이 다각형(Polygon) 형태여야 합니다.
gdf_grid = gpd.GeoDataFrame(df_map, geometry=df_map['geometry'], crs="EPSG:4326")

In [34]:
# 공간 조인 실행: 포인트가 격자 내에 포함되는 경우 조인
result_2022 = gpd.sjoin(gdf_points, gdf_grid, how="inner", op="within")
result_2022

,lat,lon,pop_sum,geometry,index_right,gid
12,37.013444,126.797827,26.661667,POINT (126.79783 37.01344),69697,다바375907
13,37.013539,126.814125,29.717500,POINT (126.81413 37.01354),62941,다바389907
14,37.013542,126.814687,23.320833,POINT (126.81469 37.01354),69020,다바390907
15,37.013894,126.797823,5.275000,POINT (126.79782 37.01389),22457,다바375908
16,37.013898,126.798385,3.641667,POINT (126.79839 37.01390),22457,다바375908
...,...,...,...,...,...,...
181556,37.292422,126.658730,0.456667,POINT (126.65873 37.29242),40046,다사254218
181557,37.292430,126.659858,0.759167,POINT (126.65986 37.29243),25260,다사255218
181558,37.292442,126.661550,2.063333,POINT (126.66155 37.29244),63993,다사256218
181566,37.292804,126.649136,1.577500,POINT (126.64914 37.29280),31248,다사245218
181577,37.298200,126.647383,9.893750,POINT (126.64738 37.29820),69965,다사244224

### 2021 + 2022년 격자별 유동인구의 평균

In [26]:
result_all_avg = (
    result_all.groupby("gid", as_index=False)
    .agg({
        "pop_sum": "mean",         # pop_avg 합계
        "lon": "mean",           # lon의 첫 번째 값
        "lat": "mean",           # lat의 첫 번째 값
    })
)
result_all_avg.rename(columns={'pop_sum' : 'pop_avg'}, inplace=True)
result_all_avg

            gid    pop_avg         lon        lat
0      다바145999   0.170000  126.538832  37.094558
1      다바154953   1.159996  126.549198  37.052951
2      다바154954   1.654074  126.549279  37.053929
3      다바154955   3.482000  126.549459  37.054531
4      다바155954   2.120791  126.550311  37.053862
...         ...        ...         ...        ...
58248  다사698102   3.711139  127.160397  37.190587
58249  다사698103  82.010139  127.160486  37.191564
58250  다사698104   9.990000  127.160108  37.192164
58251  다사699102  60.077917  127.161241  37.190815
58252  다사699103  37.148750  127.161239  37.191266

[58253 rows x 4 columns]

In [38]:
result_all_avg.to_csv('../data/화성시_2021년, 2022년 격자별 유동인구의 평균.csv', index=False)

### 2022년 격자별 유동인구의 평균

In [35]:
result_2022_avg = (
    result_2022.groupby("gid", as_index=False)
    .agg({
        "pop_sum": "mean",         # pop_avg 합계
        "lon": "mean",           # lon의 첫 번째 값
        "lat": "mean",           # lat의 첫 번째 값
    })
)
result_2022_avg.rename(columns={'pop_sum' : 'pop_avg'}, inplace=True)
result_2022_avg

            gid     pop_avg         lon        lat
0      다바145999    0.170000  126.538832  37.094558
1      다바154953    1.331212  126.549198  37.052951
2      다바154954    1.654074  126.549279  37.053929
3      다바154955    3.482000  126.549459  37.054531
4      다바155954    2.196250  126.550311  37.053862
...         ...         ...         ...        ...
56640  다사698102    3.817986  127.160397  37.190587
56641  다사698103  151.039722  127.160486  37.191564
56642  다사698104   14.016667  127.160108  37.192164
56643  다사699102  111.970000  127.161241  37.190815
56644  다사699103   67.790833  127.161239  37.191266

[56645 rows x 4 columns]

In [20]:
result_2022_avg.to_csv('../data/2022년 화성시 격자별 유동인구의 평균.csv', index=False)